.register-form-label {
    color: #353535;
    font-size: 18px;
    line-height: 40px;
}

.register-form input[type=login],[type=password],[type=email] {
    width: 100%;
    height: 40px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px var(--main-blue) solid;
    padding: 0 20px;
    color: var(--main-blue);
    font-size: 18px;
}

.register-form-button  {
    width 100%;
    background-color: var(--main-blue);
    color: white;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 400ms; /* Safari */
    transition: background-color 400ms;
}

.register-form-button:hover {
    background-color: var(--main-red);
}